.cart-icon {
    position: relative;
    cursor: pointer;
  
    .shopping-icon {
      width: 24px;
      height: 24px;
    }
  
    .item-count {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
    }
  }
  