header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
        cursor: pointer;
    }

    & nav {
        & ul {
            display: flex;

            & li {
                margin: 0 20px;
            }
        }
    }
    & .option {
        cursor: pointer;
    }
}